[user]
	name = Hikaru Wada
	email = watyaa@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	precomposeunicode = true
	quotepath = false
	excludesfile = ~/.gitignore_global
[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	fe = fetch 
	ad = add
        sw = switch
	pushf = push --force-with-lease
[pull]
	rebase = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[fetch]
        all = true
        prune = true
        pruneTags = true
[init]
	defaultBranch = main
